########
## flags
PRODUCTION=1
# PRODUCTION=


#####
## db
DATABASE_URI_dev=
DATABASE_URI_production=
TABLE_NAME_SUFFIX=


##########
## secrets
SECRET_KEY=


#####
## io
IOEVENT_DOCS_CHANGE=
IOEVENT_DOCS_CHANGE_JsonData=
IOEVENT_DOC_CHANGE_prefix=


##########
## io-cors
IOCORS_ALLOW_ORIGIN_dev=
IOCORS_ALLOW_ORIGIN_dev_1=
IOCORS_ALLOW_ORIGIN_production=
IOCORS_ALLOW_ORIGIN_nikolavrs=


#############
## web tokens
JWT_SECRET=
JWT_SECRET_ACCESS_TOKEN=
JWT_EXPIRE_SECONDS=


###########
## policies
POLICY_ALL=
POLICY_ADMINS=
POLICY_EMAIL=
POLICY_FILESTORAGE=


#######
## auth
ADMIN_EMAIL=
ADMIN_PASSWORD=
AUTH_PASSWORD_MIN_LENGTH=


##########
## storage
UPLOAD_PATH=
UPLOAD_DIR=


#######
## docs
PREFIX_BY_DOC_ID=


